# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# YAML files use 2 spaces for indentation
[*.{yml,yaml}]
indent_size = 2

# Markdown files might have trailing whitespace used for line breaks
[*.md]
trim_trailing_whitespace = false

# JSON files
[*.json]
indent_size = 2

# Makefile requires tabs
[Makefile]
indent_style = tab
